.text-center{
    text-align: center;
}
.bg-red{
    background-color: rgb(63, 46, 46);
}
.mx-auto{
    margin: auto;
}
.button{
    padding: 20px;
    margin: 0 2px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 55px;
    
}
.flex{
    display: flex;

}
.flex-col{
    flex-direction: column;
    align-items: center;
}
.row{
    margin: 5px 0;
}
.row-input{
    margin: 0;
    padding: 0;
}
.row-input input{
    padding: 7px 49px;
    margin: 12px 4px;
     width: 97%;
    box-sizing: border-box;
}